
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Londonography - A Instagram Real Time Test</title>

	<!-- metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property="og:title" content="Londonography - A Instagram Real Time Test">
	<meta property="og:site_name" content="Londonography">
	<meta property="og:url" content="Londonography.com">
	 <!-- <meta property="og:image" content="/images/logo.png"> -->
	<meta property="og:description" content="Londonography - A Instagram Real Time Test">

	<!-- fav icon -->
    <link rel="shortcut icon" href="/images/favicon.ico"> 

	<!-- css -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/app.css">

	<!-- script -->
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/jquery.1.9.min.js"></script>
	<script src="/js/handlebarsjs.1.0.min.js"></script>

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body>

	<!--[if lt IE 9]>
      <p class="browsehappy Hfwb" style="color: black; font-size: 22px;">You are using an <strong style="color: #999;">outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience on Londonography.</p>
  <![endif]-->

	<!--[if lt IE 9]>
      <div class="Hdn">
  <![endif]-->

	<!--********************************
	ABOUT
	*********************************-->

	<div class="aboutWrap active">
		<div id="about">
			<span class="btClose Hdb Hfr" id="js-closeAbout">
				<a href="#close" title="close about" class="Hir">close</a>
			</span>
			<h1 class="tit">Experience Lollapalooza through Lollagram</h1>
			<p class="desc">Music. Photography. Chicago.</p>
			<p class="desc">With <a href="http://lollapalooza.com" title="Lollapalooza">Lollapalooza</a> upon us, the <a href="http://golinHarris.com" title="GolinHarris">GolinHarris</a> team brings you (yet again) Lollagram! Lollapalooza is one of the world’s largest music festivals and it takes place just down the street from where Al Golin started our company nearly 60 years ago.</p>

			<p class="desc">Lollagram is a labor of love that’s designed to help you keep track of the Lollapalooza experience, through the eyes (or, more accurately, snapshots) of music lovers on the ground at Grant Park. Lollagram takes advantage of the Instagram API and aggregates the moments at Lollapalooza, creating a visual record of the bands, food, people, and city that make up this great musical tradition. With 45 million photos being uploaded to Instagram each day, we're excited to present snapshots from Lollapalooza 2013.</p>

			<p class="desc"> <strong class="Hfwb">Lollagram</strong> will actively 'call' photos from the Instagram service and waits for a response, searching for photos and posts which include the word Lollapalooza. If you're attending Lollapalooza this year and will be sharing photos via Instagram, we hope you’ll include #Lollapalooza so your photos will be featured on <strong class="Hfwb">Lollagram!</strong></p>

			<p class="desc">If you like Lollagram, please help us spread the word through the sharing tools on the site homepage. Enjoy Lollapalooza 2013!</p>

			<p class="desc">-Your Friends at <a href="http://golinHarris.com" title="GolinHarris">GolinHarris</a></p>
		</div>
	</div>

	<!--********************************
	TOP
	*********************************-->
	<div class="topFill"></div>

	<!--********************************
	ASIDE
	*********************************-->
	<aside id="aside">
		<header>
			<h1 class="logo"><a href="#" title="Londonography" class="Hdb"> <img src="/images/london.png" alt="Londonography" class="Hdib">  </a></h1>
		</header>

		<!-- mobile nav button -->
		<a href="#mobile-navigation" class="mobNav" id="js-mobNav">
			<span class="iconBar"></span>
			<span class="iconBar"></span>
			<span class="iconBar"></span>
		</a>
		<!-- mobile nav button / end -->

	</aside>

	<!--********************************
	IMAGE WRAPPER - content
	*********************************-->
	<div id="imgContent" class="Hcf"></div>


	<!--********************************
	FOOTER
	*********************************-->
	<footer id="footer"></footer>	



	<!--********************************
	TEMPLATES
	*********************************-->
	<script id="firstShow-tpl" type="text/x-handlebars-template">
	{{#each firstShow}}
		<a href="{{link}}" title="{{caption.text}}" target="_blank">
			<img src="{{images.standard_resolution.url}}" alt="{{caption.text}}" />
		</a>
	{{/each}}
	</script>

	<script id="mostRecent-tpl" type="text/x-handlebars-template">
		<a href="{{data.0.link}}" title="{{data.0.caption.text}}" target="_blank" class="Hvh">
			<img src="{{data.0.images.standard_resolution.url}}" alt="{{data.0.caption.text}}" />
		</a>
	</script>



	<!--********************************
	Google Analytics
	*********************************-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47387624-1', 'auto');
  ga('send', 'pageview');

	</script>





	<!-- CALL MAIN APP SCRIPT -->
	<script src="/js/app.js"></script>

	<!--[if lt IE 9]>
    </div>
  <![endif]-->
</body>
</html>
